@model IEnumerable<Restaurant.Models.Order>
  
@{
    ViewData["Title"] = "My orders";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Order date</th>
            <th>Total amount</th>
            <th>Order items</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var order in Model)
        {
            <tr>
                <td>@order.OrderId</td>
                <td>@order.OrderDate.ToString("dd/MM/yyyy")</td>
                <td>@order.TotalAmount.ToString("C")</td>
                <td>
                    <ul>
                        @foreach (var item in order.OrderItems)
                        {
                            <li>@item.Product.Name - @item.Quantity x @item.Price.ToString()</li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>
